<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <object th:include="fragments/fragment :: title" th:remove="tag"></object>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container-fluid">
    <h3>Tambah Menu</h3>

    <form th:action="@{'/menu/add/' + ${resto.idRestoran}}" th:object="${resto}" method="POST">
        <input type="hidden" th:field="*{idRestoran}"/>
        <table>
            <thead>
                <tr>
                    <th>Nama</th>
                    <th>Deskripsi</th>
                    <th>Harga</th>
                    <th>Durasi Masak (menit)</th>
                    <th>
                        <button class="btn btn-sm btn-primary" type="submit" name="addRow" >Add row</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="menu, iterationStatus : *{listMenu}">
                    <td><input type="text" th:field="*{listMenu[__${iterationStatus.index}__].nama}" /></td>
                    <td><input type="text" th:field="*{listMenu[__${iterationStatus.index}__].deskripsi}" /></td>
                    <td><input type="number" th:field="*{listMenu[__${iterationStatus.index}__].harga}" /></td>
                    <td><input type="number" th:field="*{listMenu[__${iterationStatus.index}__].durasiMasak}" /></td>
                    <td>
                        <button class="btn btn-sm btn-danger" name="deleteRow" type="submit" th:value="${iterationStatus.index}" >Hapus</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <button class="btn btn-sm btn-primary" type="submit" name="save">Submit</button>
    </form>
    </div>
</body>
</html>